<div class="card h-100">
    {{ $page := . }}
    <a href="{{ $page.RelPermalink }}" class="d-block">

        {{ if isset $page.Params "image" }}
            <img src="{{ $page.Params.image }}" class="card-img-top mx-auto d-block" alt="{{ $page.Title }}">
        {{ else }}
            {{ if (le (len .Pages) 2) }}
                {{ .Scratch.Set "slice" 1}}
            {{ else if (le (len .Pages) 4) }}
                {{ .Scratch.Set "slice" 2}}
            {{ else if (le (len .Pages) 9) }}
                {{ .Scratch.Set "slice" 3}}
            {{ else }}
                {{ .Scratch.Set "slice" 4}}
            {{ end }}
                <div style="display: flex; flex-wrap: wrap; height: 160px; overflow: hidden;">
                    {{ $height:= div 100 (.Scratch.Get "slice")}}
                    {{ range .Pages }}
                        <img src="{{ .Params.image }}" class="card-img-flex mx-auto d-block" alt="{{ .Title }}" height="{{$height}}%">
                    {{ end }}
                </div>
        {{ end }}

        <div class="card-body">
            <h4 class="card-title">{{ $page.Title }}</h4>

            <p class="card-text text-muted text-uppercase">{{ $page.Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</p>
            <div class="card-text">
                {{ $page.Summary | htmlUnescape }}
            </div>
        </div>
    </a>


</div>
